<!-- 開催日選択 -->
<div class="row">

  <div class="col-xs-4">
    <% if @menu.previous %>
      <%= link_to "< 前開催", menu_path(@menu.previous), class: "btn btn-lg btn-primary pull-left" %>
    <% end %>
  </div>

  <div class="col-xs-4" id="date_erea">
    <!-- TODO ①date picker を導入する -->
    <!-- TODO ②date picker のonchangeに日付をパラメータにmenu_controllerにリクエストを投げて、
              選択した日付のmenuページに遷移する。レースがない日付の入力した場合は遷移せずerrorメッセージを出す-->
    <h2 id="select_date"><%= @menu.today_date.strftime("%Y年 %-m月 %-d日") %></h2>
  </div>

  <div class="col-xs-4">
    <% if @menu.next %>
      <%= link_to "次開催 >", menu_path(@menu.next), class: "btn btn-lg btn-primary pull-right"%>
    <% end %>
  </div>

</div>

<!-- 場名選択 -->
<div class="row">

  <div class="col-xs-4">
    
    <% if @menu.today_course[0] %>
      <%= link_to @menu.today_course[0], menu_path(@menu, course_name: @menu.today_course[0], round: 1), class: "btn btn-lg btn-primary w-75 center-block" %>
    <% end %>
    
  </div>

  <div class="col-xs-4">
    <% if @menu.today_course[1] %>
      <%= link_to @menu.today_course[1], menu_path(@menu, course_name: @menu.today_course[1], round: 1), class: "btn btn-lg btn-primary w-75 center-block" %>
    <% end %>
  </div>

  <div class="col-xs-4">
    <% if @menu.today_course[2] %>
      <%= link_to @menu.today_course[2], menu_path(@menu, course_name: @menu.today_course[2], round: 1), class: "btn btn-lg btn-primary w-75 center-block" %>
    <% end %>
  </div>
</div>

<!-- レース選択 -->
<div id="race_round" class="row" style="padding-top: 20px;">
  <% @races.each do |race| %>
    <div class="col-xs-1" style="padding: 1px">
      <%= link_to "#{race.round} R", menu_path(@menu, course_name: race.place, round: race.round), class: "btn btn-lg btn-primary center-block w-100" %>
    </div>
  <% end %>
</div>

<!-- レース情報 -->
<div id="race_info">
  <h1><%= @race.race_name %> <%= @race.cource_type %> <%= @race.cource_length %>m</h1>
  <!-- マイクロポスト投稿画面 -->
  <%= form_for(:micropost, url: microposts_path) do |f| %>
    <%= hidden_field_tag :race_id, @race.id %>
    <%= f.submit "レースを予想する", class: "btn btn-primary center-block" %>
  <% end %>
</div>

<!-- マイクロポスト表示 -->
<%= render 'mode_feeding' %>

