<table class="table table-responsive" style="white-space: nowrap">
  <tbody>
    <tr style="background:#F4D0D0">
      <td><a id="tansyo" href="javascript:void(0);">単勝</a></td>
    </tr>
    <tr style="background:#FFE2FC">
      <td><a id="hukusho" href="javascript:void(0);">複勝</a></td>
    </tr>
    <tr style="background:#E6C6F7">
      <td>
        <p style="display:inline;">馬連</p>
        <a id="umaren_nagashi" href="javascript:void(0);">ながし</a>
        <a id="umaren_box" href="javascript:void(0);">ボックス</a>
        <a id="umaren_formation" href="javascript:void(0);">フォーメーション</a>
      </td>
    </tr>
    <tr style="background:#D3D3FF">
      <td>
        <p style="display:inline;">馬単</p>
        <a id="umatan_nagashi" href="javascript:void(0);">ながし</a>
        <a id="umatan_box" href="javascript:void(0);">ボックス</a>
        <a id="umatan_formation" href="javascript:void(0);">フォーメーション</a>
      </td>
    </tr>
    <tr style="background:#ACF9FF">
      <td>
        <p style="display:inline;">ワイド</p>
        <a id="wide_nagashi" href="javascript:void(0);">ながし</a>
        <a id="wide_box" href="javascript:void(0);">ボックス</a>
        <a id="wide_formation" href="javascript:void(0);">フォーメーション</a>
      </td>
    </tr>
    <tr style="background:#C5FFC3">
      <td>
        <p style="display:inline;">三連複</p>
        <a id="sanrenpuku_nagashi1" href="javascript:void(0);">軸1頭ながし</a>
        <a id="sanrenpuku_nagashi2" href="javascript:void(0);">軸2頭ながし</a>
        <a id="sanrenpuku_box" href="javascript:void(0);">ボックス</a>
        <a id="sanrenpuku_formation" href="javascript:void(0);">フォーメーション</a>
      </td>
    </tr>
    <tr style="background:#FFF8C1">
      <td>
        <p style="display:inline;">三連単</p>
        <a id="sanrentan_nagashi1" href="javascript:void(0);">軸1頭ながし</a>
        <a id="sanrentan_nagashi2" href="javascript:void(0);">軸2頭ながし</a>
        <a id="sanrentan_box" href="javascript:void(0);">ボックス</a>
        <a id="sanrentan_formation" href="javascript:void(0);">フォーメーション</a>
      </td>
    </tr>
  </tbody>
</table>

<button type="button" id="close" class="btn btn-primary center-block">戻る</button>

<!-- 単勝 -->
<div id="modalWindow_tansho" class="modal_select_baken">  
  <%= render 'tansho' %>
</div>
<!-- 複勝 -->
<div id="modalWindow_hukusho" class="modal_select_baken">  
  <%= render 'hukusho' %>
</div>
<!-- 馬連ながし -->
<div id="modalWindow_umaren_nagashi" class="modal_select_baken">
  <%= render 'nagashi', baken_type: "馬連" %>
</div>
<!-- 馬連ボックス -->
<div id="modalWindow_umaren_box" class="modal_select_baken">
  <%= render 'box', baken_type: "馬連" %>
</div>
<!-- 馬連フォーメーション -->
<div id="modalWindow_umaren_formation" class="modal_select_baken">
  <%= render 'formation', baken_type: "馬連" %>
</div>
<!-- 馬単ながし -->
<div id="modalWindow_umatan_nagashi" class="modal_select_baken">
  <%= render 'nagashi', baken_type: "馬単" %>
</div>
<!-- 馬単ボックス -->
<div id="modalWindow_umatan_box" class="modal_select_baken">
  <%= render 'box', baken_type: "馬単" %>
</div>
<!-- 馬単フォーメーション -->
<div id="modalWindow_umatan_formation" class="modal_select_baken">
  <%= render 'formation', baken_type: "馬単" %>
</div>
<!-- ワイドながし -->
<div id="modalWindow_wide_nagashi" class="modal_select_baken">
  <%= render 'nagashi', baken_type: "ワイド" %>
</div>
<!-- ワイドボックス -->
<div id="modalWindow_wide_box" class="modal_select_baken">
  <%= render 'box', baken_type: "ワイド" %>
</div>
<!-- ワイドフォーメーション -->
<div id="modalWindow_wide_formation" class="modal_select_baken">
  <%= render 'formation', baken_type: "ワイド" %>
</div>
<!-- 三連複軸1頭ながし -->
<div id="modalWindow_sanrenpuku_nagashi1" class="modal_select_baken">
  <%= render 'nagashi', baken_type: "三連複" %>
</div>
<!-- 三連複軸2頭ながし -->
<div id="modalWindow_sanrenpuku_nagashi2" class="modal_select_baken">
  <%= render 'nagashi2', baken_type: "三連複" %>
</div>

<script type="text/javascript">
  $(function() {
    $(document).ready(function () {
      // 単勝
      $("#tansyo").on('click', function () {
        $('#modalWindow_tansho').fadeIn();
        locateCenter();  // => モーダルウィンドウを中央配置するための初期値を設定する
        $(window).resize(locateCenter);  // => ウィンドウのリサイズに合わせて、モーダルウィンドウの配置を変える
      });
      // 複勝
      $("#hukusho").on('click', function () {
        $('#modalWindow_hukusho').fadeIn();
        locateCenter();  // => モーダルウィンドウを中央配置するための初期値を設定する
        $(window).resize(locateCenter);  // => ウィンドウのリサイズに合わせて、モーダルウィンドウの配置を変える
      });
      // 馬連ながし
      $("#umaren_nagashi").on('click', function () {
        $('#modalWindow_umaren_nagashi').fadeIn();
        locateCenter();  // => モーダルウィンドウを中央配置するための初期値を設定する
        $(window).resize(locateCenter);  // => ウィンドウのリサイズに合わせて、モーダルウィンドウの配置を変える
      });
      // 馬連ボックス
      $("#umaren_box").on('click', function () {
        $('#modalWindow_umaren_box').fadeIn();
        locateCenter();  // => モーダルウィンドウを中央配置するための初期値を設定する
        $(window).resize(locateCenter);  // => ウィンドウのリサイズに合わせて、モーダルウィンドウの配置を変える
      });
      // 馬連フォーメーション
      $("#umaren_formation").on('click', function () {
        $('#modalWindow_umaren_formation').fadeIn();
        locateCenter();  // => モーダルウィンドウを中央配置するための初期値を設定する
        $(window).resize(locateCenter);  // => ウィンドウのリサイズに合わせて、モーダルウィンドウの配置を変える
      });
      // 馬単ながし
      $("#umatan_nagashi").on('click', function () {
        $('#modalWindow_umatan_nagashi').fadeIn();
        locateCenter();  // => モーダルウィンドウを中央配置するための初期値を設定する
        $(window).resize(locateCenter);  // => ウィンドウのリサイズに合わせて、モーダルウィンドウの配置を変える
      });
      // 馬単ボックス
      $("#umatan_box").on('click', function () {
        $('#modalWindow_umatan_box').fadeIn();
        locateCenter();  // => モーダルウィンドウを中央配置するための初期値を設定する
        $(window).resize(locateCenter);  // => ウィンドウのリサイズに合わせて、モーダルウィンドウの配置を変える
      });
      // 馬単フォーメーション
      $("#umatan_formation").on('click', function () {
        $('#modalWindow_umatan_formation').fadeIn();
        locateCenter();  // => モーダルウィンドウを中央配置するための初期値を設定する
        $(window).resize(locateCenter);  // => ウィンドウのリサイズに合わせて、モーダルウィンドウの配置を変える
      });
      // ワイドながし
      $("#wide_nagashi").on('click', function () {
        $('#modalWindow_wide_nagashi').fadeIn();
        locateCenter();  // => モーダルウィンドウを中央配置するための初期値を設定する
        $(window).resize(locateCenter);  // => ウィンドウのリサイズに合わせて、モーダルウィンドウの配置を変える
      });
      // ワイドボックス
      $("#wide_box").on('click', function () {
        $('#modalWindow_wide_box').fadeIn();
        locateCenter();  // => モーダルウィンドウを中央配置するための初期値を設定する
        $(window).resize(locateCenter);  // => ウィンドウのリサイズに合わせて、モーダルウィンドウの配置を変える
      });
      // ワイドフォーメーション
      $("#wide_formation").on('click', function () {
        $('#modalWindow_wide_formation').fadeIn();
        locateCenter();  // => モーダルウィンドウを中央配置するための初期値を設定する
        $(window).resize(locateCenter);  // => ウィンドウのリサイズに合わせて、モーダルウィンドウの配置を変える
      });
      // 三連複軸1頭ながし
      $("#sanrenpuku_nagashi1").on('click', function () {
        $('#modalWindow_sanrenpuku_nagashi1').fadeIn();
        locateCenter();  // => モーダルウィンドウを中央配置するための初期値を設定する
        $(window).resize(locateCenter);  // => ウィンドウのリサイズに合わせて、モーダルウィンドウの配置を変える
      });
      // 三連複軸2頭ながし
      $("#sanrenpuku_nagashi2").on('click', function () {
        $('#modalWindow_sanrenpuku_nagashi2').fadeIn();
        locateCenter();  // => モーダルウィンドウを中央配置するための初期値を設定する
        $(window).resize(locateCenter);  // => ウィンドウのリサイズに合わせて、モーダルウィンドウの配置を変える
      });
      // 三連複ボックス
      $("#sanrenpuku_box").on('click', function () {
        $('#modalWindow_sanrenpuku_box').fadeIn();
        locateCenter();  // => モーダルウィンドウを中央配置するための初期値を設定する
        $(window).resize(locateCenter);  // => ウィンドウのリサイズに合わせて、モーダルウィンドウの配置を変える
      });
      // 三連複フォーメーション
      $("#sanrenpuku_formation").on('click', function () {
        $('#modalWindow_sanrenpuku_formation').fadeIn();
        locateCenter();  // => モーダルウィンドウを中央配置するための初期値を設定する
        $(window).resize(locateCenter);  // => ウィンドウのリサイズに合わせて、モーダルウィンドウの配置を変える
      });
      // 三連単軸1頭ながし
      $("#sanrentan_nagashi1").on('click', function () {
        $('#modalWindow_sanrentan_nagashi1').fadeIn();
        locateCenter();  // => モーダルウィンドウを中央配置するための初期値を設定する
        $(window).resize(locateCenter);  // => ウィンドウのリサイズに合わせて、モーダルウィンドウの配置を変える
      });
      // 三連単軸2頭ながし
      $("#sanrentan_nagashi2").on('click', function () {
        $('#modalWindow_sanrentan_nagashi2').fadeIn();
        locateCenter();  // => モーダルウィンドウを中央配置するための初期値を設定する
        $(window).resize(locateCenter);  // => ウィンドウのリサイズに合わせて、モーダルウィンドウの配置を変える
      });
      // 三連単ボックス
      $("#sanrentan_box").on('click', function () {
        $('#modalWindow_sanrentan_box').fadeIn();
        locateCenter();  // => モーダルウィンドウを中央配置するための初期値を設定する
        $(window).resize(locateCenter);  // => ウィンドウのリサイズに合わせて、モーダルウィンドウの配置を変える
      });
      // 三連単フォーメーション
      $("#sanrentan_formation").on('click', function () {
        $('#modalWindow_sanrentan_formation').fadeIn();
        locateCenter();  // => モーダルウィンドウを中央配置するための初期値を設定する
        $(window).resize(locateCenter);  // => ウィンドウのリサイズに合わせて、モーダルウィンドウの配置を変える
      });
    })
    
    // 「Close」ボタンをクリック時に、fadeOutメソッドでHTML要素を非表示にする
    $('#close').on('click', function() {
      $('#overlay, #modalWindow').fadeOut();
    });
    
    // モーダルウィンドウを中央配置するための配置場所を計算する関数
    function locateCenter() {
      let w = $(window).width();
      let h = $(window).height();
    
      let cw = $('.modal_select_baken').outerWidth();
      let ch = $('.modal_select_baken').outerHeight();
   
      $('.modal_select_baken').css({
        'left': ((w - cw) / 2) + 'px',
        'top': ((h - ch) / 2) + 'px'
      });
    }
  });
</script>