<div class="col-xs-8 pull-right" style="height:50px;overflow:auto;border:1px solid #aaa;padding:10px;">
    <% micropost.kaimes.each do |kaime| %>
        <% if kaime.second_hoses.nil? && kaime.third_hoses.nil? %>
            <p> <%= kaime.baken_type %> <%= kaime.buy_type %> : <%= kaime.first_hoses %> <%= kaime.betting %>円
        <% elsif kaime.third_hoses.nil? %>
            <p> <%= kaime.baken_type %> <%= kaime.buy_type %> : <%= kaime.first_hoses %> - <%= kaime.second_hoses %> <%= kaime.betting %>円
        <% else %>
            <p> <%= kaime.baken_type %> <%= kaime.buy_type %> : <%= kaime.first_hoses %> - <%= kaime.second_hoses %> - <%= kaime.third_hoses %> <%= kaime.betting %>円
        <% end %>
        <%= link_to kaime_path(kaime, micropost_id: micropost.id), method: :delete, remote: true do %>
            <span class="glyphicon glyphicon-remove"></span></p>
        <% end %>
    <% end %>
</div>