<!-- micropost の パーシャル -->
<li id="micropost-<%= micropost.id %>">
  
  <div class="row <%= "hitting_true" if micropost.kaimes.where("hitting = ?",true).count > 0 %>">
  
    <div class="col-xs-5">
    
      <div class="profile">
        <%= image_tag micropost.user.picture.url, width: "50", height: "50" %>
        <span class="user"><%= link_to micropost.user.name, user_path(micropost.user) %></span>
      </div>
    
      <div class="hosemark">
        <ol style="list-style-type: none;">
          <% create_hose_mark_tab(micropost).each do |hose| %>
            <% if !hose[:hose_mark].blank? %>
              <li> <%= hose[:hose_mark] %> <%= hose[:name] %> </li>
            <% end %>
          <% end %>
        </ol>
      </div>
    
    </div>
    
    <div class="col-xs-7">

      <%= link_to(detail_micropost_path(micropost), class: 'list-content') do %> 
        <div class="content"><%= micropost.content %></div>
      <% end %>

      <% if micropost.kaimes.where("hitting = ?",true).count > 0 %>
        <div class="hitting">
          <h2>的中</h2>
        </div>
      <% end %>
      
      <div class="favorite"><%= render 'users/favorite_form', micropost: micropost if logged_in? %></div>
      
      <div class="reply">
        <% if logged_in? %>
          <%= link_to  reply_micropost_path(micropost), class: 'btn btn-default btn-xs' do %>
            <%= content_tag :span, "", class: "glyphicon glyphicon-send" %>
          <% end %>
        <% end %>
      </div>
      
      <div class="timestamp">
        <%= time_ago_in_words(micropost.created_at) %> 前
      </div>

    </div>
  
  </div>

</li>
