<!-- micropost の パーシャル -->

<li id="micropost-<%= micropost.id %>">
  
  <div class="row">
    
    <div class="col-xs-2">
      <!-- TODO ユーザページへのリンク -->
      <%= image_tag micropost.user.picture.url, width: "50", height: "50" %>
      <span class="user"><%= link_to micropost.user.name, "#" %></span>
    </div>
    
    <div class="col-xs-4">
      <ol style="list-style-type: none;">
      <% create_hose_mark_tab(micropost).each do |hose| %>
        <% if !hose[:hose_mark].blank? %>
          <li> <%= hose[:hose_mark] %> <%= hose[:name] %> </li>
        <% end %>
      <% end %>
      </ol>
    </div>
    
    <div class="col-xs-6">
      <span class="content"><%= micropost.content %></span>
      <span class="timestamp">
        <%= time_ago_in_words(micropost.created_at) %> 前
      </span>
    </div>
   
  </div>
</li>