<div class="row" id="micropost-<%= @micropost.id %>">
  
  <div class="col-xs-5">
    
    <div class="profile">
      <%= image_tag @micropost.user.picture.url, width: "50", height: "50" %>
      <span class="user"><%= link_to @micropost.user.name, user_path(@micropost.user) %></span>
    </div>
    
    <div class="hosemark">
      <ol style="list-style-type: none;">
      <% create_hose_mark_tab(@micropost).each do |hose| %>
        <% if !hose[:hose_mark].blank? %>
          <li> <%= hose[:hose_mark] %> <%= hose[:name] %> </li>
        <% end %>
      <% end %>
      </ol>
    </div>
    
  </div>
    
  <div class="col-xs-7">
      
    <div class="kaime">
      <ol style="list-style-type: none;">
        <% @micropost.kaimes.each do |kaime| %>
          <% if !kaime[:baken_type].blank? %>
            <% if kaime.second_hoses.nil? && kaime.third_hoses.nil? %>
              <span> <%= kaime.baken_type %> <%= kaime.buy_type %> : <%= kaime.first_hoses %> <%= kaime.betting %>円 </span> </br>
            <% elsif kaime.third_hoses.nil? %>
              <span> <%= kaime.baken_type %> <%= kaime.buy_type %> : <%= kaime.first_hoses %> - <%= kaime.second_hoses %> <%= kaime.betting %>円 </span> </br>
            <% else %>
              <span> <%= kaime.baken_type %> <%= kaime.buy_type %> : <%= kaime.first_hoses %> - <%= kaime.second_hoses %> - <%= kaime.third_hoses %> <%= kaime.betting %>円 </span> </br>
            <% end %>
          <% end %>
        <% end %>
      </ol>
    </div>
    
    <div class="content"><%= @micropost.content %></div>
    <div class="favorite"><%= render 'users/favorite_form', micropost: @micropost if logged_in? %></div>
    <div class="timestamp">
      <%= time_ago_in_words(@micropost.created_at) %> 前
    </div>
  </div>
</div>

<!-- リプライ表示 -->
<% if @microposts.any? %>
  <ol class="microposts">
    <%= render @microposts %>
  </ol>
<% end %>