<!DOCTYPE html>
<html>
  
  <head>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/header' %>
  </head>
  
  <body>
    <div class="container">
     <div class="row"; width=100%;>
      <% if logged_in? %>
        <%= render 'layouts/sidebar_logged_in' %>
      <% else %>
        <%= render 'layouts/sidebar_logged_out' %>
      <% end %>
        <div class="col-xs-9">
          <!--遷移前から渡されたflash変数の表示-->
          <% flash.each do |message_type, message| %>
            <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>

</html>
